<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.luckman212.pathfind</string>
	<key>connections</key>
	<dict>
		<key>16CD3811-386A-4E8D-B707-898E1E204EE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CF82541-861D-4CFC-8F00-B0C1A16740A6</string>
				<key>disabled</key>
				<true/>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AD77EB0-D724-495C-820B-6AFADF131A9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A97C819-60A3-4316-A327-CCEBCC4AD327</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1CF82541-861D-4CFC-8F00-B0C1A16740A6</key>
		<array/>
		<key>2C86530E-0A51-4B93-B913-B7B744976C21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32116A50-BA7B-4038-BF0D-078B255DA0E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33EB1975-865F-4EC6-B26E-6740845C2A05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD6254CB-AE49-4A84-9048-06B52C1C6A14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4BF1A6F2-D9A9-44A0-AFF8-483110D83294</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E06307C-E35D-42F9-97AE-C9AED5FCA719</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>532455B1-D44B-4C96-ABF6-A884FA2CF226</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BF1A6F2-D9A9-44A0-AFF8-483110D83294</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60C061C7-522A-46AB-BDC3-18B28B0FF2F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33EB1975-865F-4EC6-B26E-6740845C2A05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>794538E0-FE54-4907-B97E-327A5D8EE41B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5E84CA5-B7EB-432A-AC37-C1333053050F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>798C6667-7E32-44DB-B847-5718D91F9876</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33EB1975-865F-4EC6-B26E-6740845C2A05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E06307C-E35D-42F9-97AE-C9AED5FCA719</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88E211CF-4568-4B90-9A51-13599513D268</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95FC006C-4A12-4F30-93B1-A6D4ACE24CB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33EB1975-865F-4EC6-B26E-6740845C2A05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A97C819-60A3-4316-A327-CCEBCC4AD327</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA3DFE4A-B872-4745-877E-AEC57E6F4CF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A641361F-048E-4267-A383-B52E96A7C848</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90B2E25F-0825-4814-A615-4FE2B954F7F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD6254CB-AE49-4A84-9048-06B52C1C6A14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E265B6A2-1EC2-4785-8D70-DC7C4953C8DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BEB1FF08-ADB8-4B43-869F-C4C35B13C37F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AA2301F5-18E6-4ED5-849E-F3759AE48545</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5E84CA5-B7EB-432A-AC37-C1333053050F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C86530E-0A51-4B93-B913-B7B744976C21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B712E43D-23A1-466C-BA53-E6B497DEFECC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90B2E25F-0825-4814-A615-4FE2B954F7F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA3DFE4A-B872-4745-877E-AEC57E6F4CF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16CD3811-386A-4E8D-B707-898E1E204EE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>84E2F533-BA5C-4DED-B4CF-3839845D1AD1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D8BB3D66-8683-4F21-9F9D-AD4187C013C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>luckman212</string>
	<key>description</key>
	<string>Search your filesystem, matching keywords anywhere in the path</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PathFind</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:KW_TRIGGER}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>PathFinding...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>pathfind-alfred.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>entrypoint</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>798C6667-7E32-44DB-B847-5718D91F9876</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>install_deps.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8E06307C-E35D-42F9-97AE-C9AED5FCA719</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>88E211CF-4568-4B90-9A51-13599513D268</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>deps</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>532455B1-D44B-4C96-ABF6-A884FA2CF226</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>E265B6A2-1EC2-4785-8D70-DC7C4953C8DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Install</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>Before you can use the {const:alfred_workflow_name} Workflow, the system needs to install a few components (`fd`, `gawk` and `jq`. This is safe, and will be done using Homebrew.</string>
				<key>title</key>
				<string>Installation Required</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>4BF1A6F2-D9A9-44A0-AFF8-483110D83294</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pfd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export TYPE_OVERRIDE=directory
./pathfind-alfred.sh "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description} folders</string>
				<key>title</key>
				<string>{const:alfred_workflow_name} (Folders only)</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>95FC006C-4A12-4F30-93B1-A6D4ACE24CB3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{const:alfred_workflow_name} commandline tool installed at /usr/local/bin/pathfind</string>
				<key>title</key>
				<string>Success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1CF82541-861D-4CFC-8F00-B0C1A16740A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>clear &amp;&amp; pathfind -h</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>16CD3811-386A-4E8D-B707-898E1E204EE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reveal</string>
						<key>outputlabel</key>
						<string>reveal</string>
						<key>uid</key>
						<string>BEB1FF08-ADB8-4B43-869F-C4C35B13C37F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AD6254CB-AE49-4A84-9048-06B52C1C6A14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>33EB1975-865F-4EC6-B26E-6740845C2A05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>:pfcli</string>
				<key>subtext</key>
				<string>create a symlink at `/usr/local/bin/pathfind`</string>
				<key>text</key>
				<string>Install commandline tool</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1AD77EB0-D724-495C-820B-6AFADF131A9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>install_cli.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9A97C819-60A3-4316-A327-CCEBCC4AD327</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>AA2301F5-18E6-4ED5-849E-F3759AE48545</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:cli_result}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>84E2F533-BA5C-4DED-B4CF-3839845D1AD1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DA3DFE4A-B872-4745-877E-AEC57E6F4CF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pff</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export TYPE_OVERRIDE=file
./pathfind-alfred.sh "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name} (Files only)</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>60C061C7-522A-46AB-BDC3-18B28B0FF2F6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{const:alfred_workflow_name} commandline tool could not be installed. Check the debug console for more info.</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D8BB3D66-8683-4F21-9F9D-AD4187C013C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pfc||fdc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_current_Finder_window.js</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Run with search path set to the directory of the active Finder window</string>
				<key>title</key>
				<string>{const:alfred_workflow_name} (current dir)</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A641361F-048E-4267-A383-B52E96A7C848</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>entrypoint</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>90B2E25F-0825-4814-A615-4FE2B954F7F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search for '{query}' using PathFind</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>B712E43D-23A1-466C-BA53-E6B497DEFECC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Hope to be able to use {const:alfred_workflow_name} in the future...

https://www.alfredforum.com/topic/22912-somewhere-between-a-bug-and-a-feature-request-support-placeholders-in-fallback-search-object/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>286A1050-9059-4700-B859-E11FF29323F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:{var:KW_TRIGGER}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>open 'Configure Workflow' panel</string>
				<key>text</key>
				<string>{const:alfred_workflow_name} configuration</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>794538E0-FE54-4907-B97E-327A5D8EE41B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>alfredpreferences://{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>32116A50-BA7B-4038-BF0D-078B255DA0E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.encode.percent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>2C86530E-0A51-4B93-B913-B7B744976C21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>navigateto/workflows&gt;workflow&gt;{const:alfred_workflow_uid}&gt;userconfig&gt;KW_TRIGGER</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B5E84CA5-B7EB-432A-AC37-C1333053050F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![](./icon_s.png)

# PathFind

Inspired by [this post](https://www.alfredforum.com/topic/22886-locating-a-document-by-searching-for-words-that-are-in-the-documents-filepath/), **PathFind** is a workflow that aims to quickly and thoroughly search your filesystem for files and folders matching keyword(s) in *any part* of the filename or enclosing path.

This means that if you search for “annual report 2024”, both of the files below would appear in the results:

- /Users/joe/Downloads/Annual **Report**s/for review/**2024**-version1.pdf
- /Users/joe/Desktop/Shareholder **report** (**Annual**) - **2024**.docx

Searches are case-insensitive, and the order in which you enter your search terms is not important. The search terms can be plain strings or [regular expressions](https://regex101.com/r/QmVP21/1). The workflow **does not rely on Spotlight** to provide its results.

As of version 1.3.1, you can now pass *quoted strings* to be more explicit with your queries, e.g. "annual report" will NOT match a file named "annual sales report".

## Configuration

You can customize various options via the Configure Workflow button, or by activating the `:pf` keyword. Most are self-explanatory, I will attempt to better document them in the near future.

The most important thing to configure are the **Paths** (include, exclude, etc). Enter one path per line. Trailing slashes are not required. For example:

```
~/Downloads
~/Desktop
~/Documents
~/Library/CloudStorage
/Volumes/development/area51
```

## Usage

Activate one of the trigger keywords:
- `pf` for normal mode
- `pfd` to search Folders (directories) only
- `pff` to search Files only
- `pfc` to search exclusively in the current active (frontmost) Finder window (its path does NOT need to be included in your workflow config search scope ahead of time)

🚀 As of 1.2.0, you can now leverage Spotlight **in addition to** the filename-based search capabilities! To use Spotlight to query for files based on their *contents*, prefix your search term(s) with `in:`. For example, to find PDF files with the word "contract" in the filename, and the words "agreed" and "November" in the *contents*, use Alfred query `contract pdf in:agreed in:november` (the Spotlight terms are also case-insensitive).

## CLI

The workflow comes with a commandline tool that can be run outside of Alfred, if you ever find the need search from a Terminal. The script name is `pathfind.sh` and you can conveniently create a symlink to it at `/usr/local/bin` by running this workflow with the trigger keyword `:pfcli`.

During the installation, you may be prompted for your password so the workflow can create the `/usr/local/bin` directory and create the symlink so the command is available in your shell. You may also be prompted to allow Alfred to "control Terminal.app" — you should allow this so that the final Terminal Command step can complete.

After it's installed, you can type `pathfind &lt;word1&gt; [word2...]` from any shell to get the results in text format.

![](./enable_automation.png)

## Prerequisites

Alfred 5.5 or higher is required.

The workflow requires a few small binaries to work its magic:
- `fd` for fast, multithreaded filesystem searching
- `gawk` for case-insensitive pattern/regex matching of filenames
- `jq` for JSON processing

The workflow will warn you if these are not detected, and offer to install them for you. If you prefer, they can be installed with a single [Homebrew](https://brew.sh/) command run from Terminal:

```
brew install fd gawk jq
```

## ⚠️Potential Gotchas

- Make sure your defined keywords do not conflict with any from Alfred's native Features &gt; File Search area!
- Enabling the **Follow symlinks** option can significantly slow down searches. If you need this option but experience poor performance, try adjusting **Max depth**, or use a smaller search scope (fewer folders, or more specific query)</string>
	<key>uidata</key>
	<dict>
		<key>16CD3811-386A-4E8D-B707-898E1E204EE7</key>
		<dict>
			<key>xpos</key>
			<real>1270</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>1AD77EB0-D724-495C-820B-6AFADF131A9C</key>
		<dict>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>1CF82541-861D-4CFC-8F00-B0C1A16740A6</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>1450</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>286A1050-9059-4700-B859-E11FF29323F2</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>140</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>2C86530E-0A51-4B93-B913-B7B744976C21</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>32116A50-BA7B-4038-BF0D-078B255DA0E7</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>33EB1975-865F-4EC6-B26E-6740845C2A05</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>4BF1A6F2-D9A9-44A0-AFF8-483110D83294</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>532455B1-D44B-4C96-ABF6-A884FA2CF226</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>60C061C7-522A-46AB-BDC3-18B28B0FF2F6</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>794538E0-FE54-4907-B97E-327A5D8EE41B</key>
		<dict>
			<key>note</key>
			<string>config panel</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>798C6667-7E32-44DB-B847-5718D91F9876</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>88E211CF-4568-4B90-9A51-13599513D268</key>
		<dict>
			<key>xpos</key>
			<real>1045</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>8E06307C-E35D-42F9-97AE-C9AED5FCA719</key>
		<dict>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>90B2E25F-0825-4814-A615-4FE2B954F7F8</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>95FC006C-4A12-4F30-93B1-A6D4ACE24CB3</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>9A97C819-60A3-4316-A327-CCEBCC4AD327</key>
		<dict>
			<key>xpos</key>
			<real>1045</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>A641361F-048E-4267-A383-B52E96A7C848</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>AA2301F5-18E6-4ED5-849E-F3759AE48545</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>AD6254CB-AE49-4A84-9048-06B52C1C6A14</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>B5E84CA5-B7EB-432A-AC37-C1333053050F</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>B712E43D-23A1-466C-BA53-E6B497DEFECC</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>D8BB3D66-8683-4F21-9F9D-AD4187C013C1</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>1270</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>DA3DFE4A-B872-4745-877E-AEC57E6F4CF2</key>
		<dict>
			<key>xpos</key>
			<real>1180</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>E265B6A2-1EC2-4785-8D70-DC7C4953C8DD</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pf</string>
				<key>placeholder</key>
				<string>pf||find</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Trigger keyword</string>
			<key>label</key>
			<string>Main Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KW_TRIGGER</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>0</integer>
				<key>markercount</key>
				<integer>11</integer>
				<key>maxvalue</key>
				<integer>10</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Maximum depth to traverse (0=infinite)</string>
			<key>label</key>
			<string>Max depth</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>MAX_DEPTH</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>3</integer>
				<key>markercount</key>
				<integer>6</integer>
				<key>maxvalue</key>
				<integer>5</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Number of parent directories to show in subtitle (0=show complete path)</string>
			<key>label</key>
			<string>Path abbreviation</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>PATH_DISPLAY_DEPTH</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>List of paths to include in the search scope (one directory per line). Do not include quotes or trailing slashes.</string>
			<key>label</key>
			<string>Include paths</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>PATHFIND_PATHS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>Files contained in any of these directories will be excluded from the search results</string>
			<key>label</key>
			<string>Exclude paths</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>PATHFIND_EXCLUDE_PATHS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>Portions of the parent path shown in the subtitle to hide (useful for very deep directories)</string>
			<key>label</key>
			<string>Hide prefixes</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>HIDDEN_PREFIXES</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Follow symlinks and allow search to span filesystems</string>
			</dict>
			<key>description</key>
			<string>Allow the search to follow symlinks and traverse across disparate filesystems (external or network-attached disks, for example)—⚠️can affect search performance!</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>ALLOW_XDEV</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>3</integer>
				<key>markercount</key>
				<integer>11</integer>
				<key>maxvalue</key>
				<integer>10</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Show warning if execution takes &gt; this many secs (0=disable)</string>
			<key>label</key>
			<string>Performance alarm</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>SLOW_AFTER</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Debug mode</string>
			</dict>
			<key>description</key>
			<string>Don't enable this unless instructed!</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>DEBUG</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>DEPS</key>
		<string>fd gawk jq</string>
	</dict>
	<key>version</key>
	<string>1.3.1</string>
	<key>webaddress</key>
	<string>https://github.com/luckman212/alfred-pathfind</string>
</dict>
</plist>
